# Data Foundations -- Problem Set 1: Base R 
This problem set should take 60 to 90 minutes. If you feel like you’re struggling, don’t get discouraged. Struggling through a problem is an import par of developing your own intution and solution strategies! Remember to use external resources like Google, R documentation, and Stack Overflow. 

Please avoid using AI. Use this problem set as an opportunity to develop your own intution and problem solving skills.  

This is an auto-graded problem set for you to test what you have learned about Base R. It consists of markdown blocks (like what you're currently reading) and various code blocks. There are code blocks that you will edit and complete. Those blocks are followed by "test" code blocks where the Jupyter Notebook will evaluate if the answer you coded works/is correct. 

A couple of tips: 

- Remember to run all the code blocks, even the ones you're not writing your answer in. For example, in the first problem, you need to make sure `my_vec  <- c(1,2,3,4,5)` has been run before you try to take the mean of `my_vec`.


## Question 1: Working with Vectors (2 points)
Below, you are provided a vector. Calculate the mean of the vector and the sum of the vector. You MUST store the mean in a variable called `my_mean` and the value of the sum in a variable called `my_sum` to get the points.

In [1]:
# Work with the following vector to calculate it's mean and sum 
my_vec  <- c(1,2,3,4,5)

In [2]:
# create a variable called my_mean and store the mean of my_vec within it 

### BEGIN SOLUTION 
my_mean  <- mean(my_vec)
### END SOLUTION 

# create a variabled called my_sum and store the summation of all elements in my_vec within it 

### BEGIN SOLUTION 
my_sum  <- sum(my_vec)
### END SOLUTION

Below are two code blocks that test if the answer you coded above works. Each are worth one point. You can run each code block to see if your answer is correct now. This will let you check your answers prior to submitting your assignment.

In [3]:
# your grade is based on the following tests: 

# Test One 
if (my_mean != 3) {
   stop("my_mean doesn't equal the mean of the vector my_vec. Expected: my_mean = 3")
}else{
    print("Nice work, your variable my_mean has the mean of the vector my_vec stored in it.")
}

[1] "Nice work, your variable my_mean has the mean of the vector my_vec stored in it."

In [4]:
# Test Two 
if (my_sum != 15) {
   stop("my_sum doesn't equal the sum of the vector my_vec. Expected: my_sum = 15")
}else{
    print("Nice work, your variable my_sum has the sum of the vector my_vec stored in it.")
}

[1] "Nice work, your variable my_sum has the sum of the vector my_vec stored in it."

## Question 2: Data Frames (2 Points)

Next, you will test you skills for working with data frames. Below, I provide you a dataframe with some information about three national parks in Zambia. In part A, you need to create a vector called `my_sizes` and store third column in it. In part B, you need to take the mean of the species_richness and store it in a variable called `avg_spec`

In [5]:
df  <- data.frame(
    name = c("South Luangwa National Park", "Lusaka National Park", "Kafue National Park"), 
    species_richness = c(78, 92, 61), 
    size_sq_km = c(9050, 67, 22400)
)

df

  name                        species_richness size_sq_km
1 South Luangwa National Park 78                9050
2 Lusaka National Park        92                  67
3 Kafue National Park         61               22400

### Part A 
Store the values from column three in `df` in a variable named `my_sizes`.

In [6]:
# Create variable called my_sizes and store third column of df in it 

### BEGIN SOLUTION 
my_sizes  <- df$size_sq_km
### END SOLUTION

In [7]:
# Test A 
if (!identical(my_sizes,c(9050, 67, 22400))) {
   stop("my_sizes doesn't equal the third column of df. Expected: my_sizes = c(9050, 67, 22400)")
}else{
    print("Nice work, you stored the column in the variable named my_sizes")
}

[1] "Nice work, you stored the column in the variable named my_sizes"

### Part B
Find the average species richness across the three national parks using `df` and store it in a variable called `avg_spec`.

In [8]:
# Create a variable called avg_spec and store the average species richness in it 

### BEGIN SOLUTION 
avg_spec  <- mean(df$species_richness)
### END SOLUTION

In [9]:
# Test B 
if (avg_spec != 77) {
   stop("avg_spec isn't correct Expected: avg_spec == 77")
}else{
    print("Nice work, your avg_spec variable is correct.")
}

[1] "Nice work, your avg_spec variable is correct."

## Question 3: Loops (2 Points)

In this question, you are given a data frame that has information about forest loss in four regions of the Brazillian Amazon. Use a loop to create a new variable  called `acres_lost_total` to the data framed `df_forest` that is equal to the acres lost in 2020 plus the acres lost in 2021.

In [10]:
df_forest <- data.frame(
    region = c("Amazonas", "Pará", "Acre", "Amapá"),
    acres_lost_2020 = c(100, 120, 110, 105),
    acres_lost_2021 =c(200, 190, 205, 210)
)

df_forest

  region       acres_lost_2020 acres_lost_2021
1 Amazonas     100             200
2 Par<U+00E1>  120             190
3 Acre         110             205
4 Amap<U+00E1> 105             210

In [11]:
# Fill in the following loop 

for(i in 1:4){
    # use the assignment operator (<-) and i indexing to update the value of acres_lost_total. 
    #    Uncomment the following line to get started
    
    # df_forest$acres_lost_total[i] <- 
    
    ### BEGIN SOLUTION 
    df_forest$acres_lost_total[i] <- df_forest$acres_lost_2020[i] + df_forest$acres_lost_2021[i]
    
    ### END SOLUTION
}

# print your updated df
df_forest

  region       acres_lost_2020 acres_lost_2021 acres_lost_total
1 Amazonas     100             200             300
2 Par<U+00E1>  120             190             310
3 Acre         110             205             315
4 Amap<U+00E1> 105             210             315

In [12]:
# Test Q3
if (!identical(df_forest$acres_lost_total, c(300, 310, 315, 315))) {
   stop("The new column isn't correct. Expected: df_forest$acres_lost_total = c(300, 310, 315, 315)")
}else{
    print("Nice work, you created a new column that stores the total acres lost in each region.")
}

[1] "Nice work, you created a new column that stores the total acres lost in each region."